/* Демо контент */
.content-demo {
	margin-bottom: 5rem;
	padding: 1rem;
	background-color: #dadada;
}
.wraper{
	max-width: var(--wraper-mobil);
	padding: var(--wraper-padding) ;
	margin: var(--centr-mobile);
	@include tablet {
		max-width: 768px;
		padding: 0 16px ;
		margin: 0 auto;
	}
	@include desktop{
		max-width: 1158px;
		padding: 0 15px;
		margin: 0 auto;
	}
}
.conteiner{
	max-width: var(--conteiner-mobil);
	padding: var(--conteiner-center-mobile) ;
	margin: var(--conteiner-padding);
	display: flex;
	justify-content: center;
	@include tablet {
		max-width: 768px;
		padding: 0 15px ;
		margin: 0 auto;
	}
	@include desktop{
		max-width: 1200px;
		padding: 0 15px;
		margin: 0 auto;
	}
}
.container-full {
	padding: 0 var(--container-padding);
	max-width: 100%;
}

.container-left-50 {
	padding: 0 var(--container-padding);
	max-width: 50%;
}

.container-right-50 {
	padding: 0 var(--container-padding);
	max-width: 50%;
	margin-left: auto;
}

.container-right {
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@include tablet {
		padding-left: var(--container-padding);
	}
}
.container-left {
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@include tablet {
		padding-right: var(--container-padding);
	}
}
.container-half-left {
	padding-right: calc(
		(100% - var(--container-width)) / 2 + (var(--container-width) / 2)
	);
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@include tablet {
		padding-left: var(--container-padding);
	}
}
.container-half-right {
	padding-left: calc(
		(100% - var(--container-width)) / 2 + (var(--container-width) / 2)
	);
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@include tablet {
		padding-right: var(--container-padding);
	}

	@include desktop {
		padding: 0 var(--container-padding);
	}
}
