:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: Roboto;
	--font-accent: 'Manrope', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;
	--link-color: #2578c8;


  --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

	--time: 0.1s;
	--width: 24px;
	--height: 24px;
	--line-height: 1px;
  --line-margin: 2;
  --color:  #2F2F37;
	--transition: all 0.2s ease-in;
	
	--text-dark:#33373E;
	--main-orange:#FF622A;
	--gray-border:#BEC5D6;
	--dark-white:#F5F4FA;
	--series:#757575;

	--GREEN:#31D0AA;
	--NAVY-BLUE:#2E2F42;
	--CLOUD: #F4F4FD;
	--IRIS:#4D5AE5;
	--WHITE:#FFF;
	--LIGHT-SLATE:#8E8F99;
	--OCEAN:#404BBF;
	--SLATE:#434455;
	--CORNFLOWER:#E7E9FC;
	--BLACK:#212121;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}

.wraper{
	--wraper-mobil: 320px;
	--centr-mobile: 0 auto;
	--wraper-padding: 0 16px;
}
.conteiner{
	--conteiner-mobil: 288px ;
	--conteiner-padding: 0 auto ;
	--conteiner-center-mobile:0 16px ;
}
