.footer{
	background: var(--NAVY-BLUE, #2E2F42);
}
@include desktop {
	.flex__footer-global{
		display: flex;
	}
	.flex__footer{
		margin: 0 120px 0 0;
		
	}
	.flex__footer a{
		display: flex;
		align-items: flex-start;
	}
}
.text__footer{
	color: var(--CLOUD, #F4F4FD);
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.54px;
	text-transform: uppercase;
	text-align: center;
	}
.color__web{
	color: var(--IRIS, #4D5AE5);
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px; /* 116.667% */
	letter-spacing: 0.54px;
	text-transform: uppercase;
}
.title_footer{
	color: var(--CLOUD, #F4F4FD);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.32px;
	margin: 18px 0 72px 0;
	text-align: left;
	@include tablet {
		margin: 18px 24px 0 0;
		max-width: 264px;
	}
	@include desktop {
		margin: 18px 0 0 0;
			
	}
}
@include desktop {
	.icon__footer{
		margin: 0 80px 0 0;
	}
}
.icon__footer h4{
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; 
	letter-spacing: 0.32px;
	text-align: center;
	margin: 0 0 16px 0;
}
.wrap__form h4{
	color: var(--WHITE, #FFF);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.32px;
	text-align: center;
	margin: 72px 0 16px 0;
	@include tablet {
			text-align-last: left;
			margin: 72px 0 16px 147px;
	}
	@include desktop {
		margin: 72px 0 16px 27px;
	}
}
.form__email{
	border-radius: 4px;
	border: 1px solid var(--WHITE, #FFF);
	opacity: 0.3;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	background: var(--NAVY-BLUE, #2E2F42);
	width: 100%;
	@include tablet {
		max-width: 264px;
		margin: 0 24px 0 0;
	}
}
[type="text"]{
	color: var(--WHITE, #FFF);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 200% */
letter-spacing: 0.48px;
padding: 8px 16px;
}
.footer__form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 0 96px 0;
	@include desktop {
			flex-wrap: nowrap;
	}
}
.footer__bnt{
	border-radius: 4px;
	background: var(--IRIS, #4D5AE5);
	display: flex;
	color: var(--WHITE, #FFF);
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
	letter-spacing: 0.64px;
	padding: 8px 24px;
	margin: 16px 0 0 0;
	align-items: center;
	@include tablet {
		margin: 0 0 0 0;
	}
}
.footer__bnt svg{
margin: 0 0 0 16px;
}
.team__aitem-footer{
	display: flex;
	justify-content: center;
}
@include tablet {
		.centr__footer{
			display: flex;
			justify-content: center;
			margin: 98px 0 0 0;
		}
}
