.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}
.icon {
	fill: transparent;
	stroke: transparent;
	width: 16px;
	height: 16px;
}
.icon__footer-wraper {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}
.icon__advantages{
	fill: transparent;
	stroke: transparent;
	width: 64px;
	height: 64px;
}
.icon--antenna-line,
.icon--clock-line,
.icon--diagram-line,
.icon--astronaut-line{
	fill: black;	
}
.icon__bnt{
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}
.icon--istagram-line,
.icon--twitter-line,
.icon--facebook-line,
.icon--linkedin-line{
	fill: #F4F4FD;
}
.advantages__icon{
	padding: 24px 100px;
	border-radius: 4px;
	border: 1px solid var(--LIGHT-SLATE, #8E8F99);
	background: var(--CLOUD, #F4F4FD);
}
.team__aitem{
	padding: 0 0 32px 0;
}
.icon__bnt{
	width: 40px;
	height: 40px;
  background-color:#4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
	transition: var(--transition);
		&:hover{
			background-color:var(--GREEN, #31D0AA);
			
		}
}
.team__aitem a:not(:last-child){
	margin: 0 24px 0 0 ;
}
.team__aitem-footer a:not(:last-child){
	margin: 0 16px 0 0 ;
}
.icon__button{
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}
.icon--bnt-line{
	fill: #FFFFFF;
}
.icon__popup{
	fill: transparent;
	stroke: transparent;
	width: 18px;
	height: 18px;
}
.icon__popup-wrap{
	fill: transparent;
	stroke: transparent;
	width: 18px;
	height: 24px;
}
.icon--person-black-line,
.icon--email-black-line,
.icon--phone-black-line{
	fill: #2E2F42;
}
.icon__close{
	fill: transparent;
	stroke: transparent;
	width: 8px;
	height: 8px;
}
.icon--close-black-line{
	fill: #2E2F42;
	cursor: pointer;
}
.icon__item-close:hover{
	fill: #FFFFFF;
}