.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 16px;
	height: 16px;
}
.icon__footer-bnt{
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--istagram-line,
.icon--twitter-line,
.icon--facebook-line,
.icon--linkedin-line,
.icon--bnt-line{
	fill: #F4F4FD;
}
.icon__bnt{
	width: 40px;
	height: 40px;
  background-color:#4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
		&:hover{
			background-color:var(--GREEN, #31D0AA);
			transition: all 0.2s ease-in;
			
		}
}

