h2{
  @include secondLevelHeading;
}
h4{
  @include fourthLevelHeading;
}
.title{
  background:  linear-gradient(
    to right,
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)), url(../../img/mobile/dark-bg.jpg) lightgray -190.492px 0px / 231.558% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include tablet {
      background:  linear-gradient(
        to right,
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)), url(../../img/tablet/dark-bg.jpg) lightgray 0px -3.875px / 100% 102.695% no-repeat;;
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
      @include desktop {
      background: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../img/desctop/dark-bg.jpg);
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
}
.title__geroy{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 72px 0;
  @include tablet {
    padding: 112px 0 122px 0;
  }
  @include desktop {
    padding: 188px 0 188px 0;
  }
  
}
.main__heading{
  color: var(--WHITE);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  margin: 0 0 72px 0;
  max-width: 216px;
  @include tablet {
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
      max-width: 496px;
    }
}
.taitle__modal{
  color: var(--WHITE);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--IRIS);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
}
.taitle__modal:hover{
  border-radius: 4px;
  background: var(--OCEAN);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: var(--transition);
}
.advantages__title{
  @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  @include desktop {
      display: flex;
      flex-wrap: nowrap;
  }
}
.advantages{
  padding: 96px 0 96px 0;
  @include desktop {
    padding: 120px 0 120px 0;
  }
  h3{
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    margin: 0 0 8px 0;
    @include desktop {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.4px;
      margin: 8px 0;
    };
  }
  p{
    color: var(--SLATE);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    @include desktop {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
  }
  @include tablet {
      p{
        max-width: 356px;

      }

  }
}
ul .advantages__aitem{
  width: 100% ;
  @include tablet{
    flex-basis: calc((100% - 30px) / 2);
    width: 100%;
  }
}
.advantages__aitem:not(:last-child){
  margin: 0 0 72px 0;
}
@include tablet {
    .advantages__aitem:not(:last-child){
      margin: 0 0 0 0;
    }  
}
@include tablet {
  .advantages__aitem:nth-child(-n + 2){
    margin: 0 0 72px 0;
  }
  .advantages__aitem:nth-child(-n + 1){
    margin: 0 24px 0 0;
  }
  .advantages__aitem:nth-child(3){
    margin: 0 24px 0 0;
  }
  .advantages__aitem h3{
    text-align: left;
  }
}
@include desktop {
  .advantages__aitem:not(:last-child){
  margin: 0 24px 0 0;
  }  
}
.advantages__icon{
  display: none;  
  @include desktop {
    display: inline-block;  
  }
}
.team{
  background-color:var(--CLOUD);
  padding: 96px 0 96px 0;
  @include desktop {
    padding: 120px 0 120px 0;
  }
}
.team__main {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  margin: 0 0 72px 0;
} 
.flex__team{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include desktop {
      flex-wrap: nowrap;
  }
}
.team ul li{
  max-width: 264px;
}
.team__title{
  h3{
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  p{
    color: var(--SLATE);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}
.team__aitem{
  display: flex;
  justify-content: center;
}
.team__title h3{
	margin: 32px 0 0 0;
}
.team__title p{
	margin: 8px 0;
}
.team ul li:not(:last-child){
  margin: 0 0 72px 0;
  @include tablet {
    margin: 0;  
  }
}
@include desktop {
  .team ul li:not(:last-child){
    margin: 0 24px 0 0;
  } 
  }
@include tablet {
  .team ul .flex__portfolio:nth-child(-n + 2){
    margin: 0 0 64px 0;
    @include desktop {
      margin: 0 24px 0 0;
    }
  }
  .team ul .flex__portfolio:nth-child(-n + 1){
    margin: 0 24px 64px 0;
    @include desktop {
      margin: 0 24px 0 0;
    }
  }
  .team ul .flex__portfolio:nth-child(3){
    margin: 0 24px 0 0;
    @include desktop {
      margin: 0 24px 0 0;
    }
  }
  .a  h3{
    text-align: left;
  }
  .team__main{
    max-width: 736px;
    @include desktop {
        max-width:1128px ;
    }
  }
}
.team ul li{
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.portfolio{
  padding: 96px 0;
}
.portfolio h2{
  margin: 0 0 72px 0;
}
.cards__title ul li:not(:last-child){
  margin: 0 0 48px 0;
  @include desktop {
  margin: 0;
  }
}
.portfolio__aitem{
  border-right: 1px solid var(--CORNFLOWER);
  border-bottom: 1px solid var(--CORNFLOWER);
  border-left: 1px solid var(--CORNFLOWER);
}
.centre{
  padding: 32px 0 8px 16px;
}
.text__centre{
  color: var(--SLATE);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 0 0 32px 16px ;
}
.cards__title ul li{
  cursor: pointer ;
}
@include tablet {
    .cards__portaolio{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .portfolio ul .cards__item:nth-child(1){
      margin: 0 24px 64px 0;
      }
    .portfolio ul .cards__item:nth-child(3){
      margin: 0 24px 64px 0;
      @include desktop {
      margin: 0 0 64px 0;
      }
      }
    .portfolio ul .cards__item:nth-child(5){
      margin: 0 24px 0 0;
      }
}
@include desktop {
  .portfolio ul .cards__item:nth-child(2){
    margin: 0 24px 64px 0;
    }
    .portfolio ul .cards__item:nth-child(4){
      margin: 0 24px 0 0;
    }
}