
input{
font-family: Outfit;
}

.wraper{
  padding: 0 15px;
  @include tablet {
  padding: 0 19px;
  }
}
.section__contact{
  background: linear-gradient(180deg, #E9F5F4 0%, #FFF 48.38%);
  padding: 100px 0 34px 0;
    @include tablet {
      padding: 61px 0 30px 0; 
    }
    @include desktop {
      padding: 100px 0 40px 0;
        
    }
}
.color__title{
  border-radius: 40px;
  border-top: 4px solid var(--green, #508A88);
  background: var(	--WHITE);
  box-shadow: 0px 4px 15px 0px rgba(80, 138, 136, 0.20);
  @include desktop {
    width: 1110px;
    padding: 0 95px;

  }
}

.heading{
  color: var(--text-dark);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding: 60px 0 0 0;
  margin: 0 0 10px 0;
  @include tablet {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
  @include desktop {
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    padding: 70px 0 0 0;
  }
}
.text__main{
  font-feature-settings: 'clig' off, 'liga' off;
  color: var(--text-dark);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 30px 0;
  @include tablet {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }
}
span{
  color: var(--main-orange);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  @include tablet {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }
}
.input__color{
  color: var(--text-dark);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  width: 290px;
  padding: 15px 30px;
  border-radius: 64px;
  border: 1px solid var(--gray-border);
  background: var(--WHITE);
  @include tablet {
      width: 350px;
  }
  @include desktop {
      width: 445px;
  }
}
.input__color:focus{
  border: 1px solid var(--main-orange);
}
.form__textarea:focus{
  border: 1px solid var(--main-orange);
}
.contact__fotm{
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction:row;
  }
}
.section__form-one{
  padding: 0 0 30px 0;
}
.section__form-two{
  padding: 0 0 101px 0;
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  @include desktop {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
}
.input__color:not(:last-child){
  margin: 0 0 26px 0;
}
.form__bnt{
  display: flex;
  width: 290px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid var(--main-orange);
  background: var(--WHITE);
  color: var(--main-orange);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 30px 0 0 0;
}
.form__textarea{
  width: 290px;
  height: 134px;
  border-radius: 27px;
  border: 1px solid var(--gray-border);
  background: var(--WHITE);
  color: var(--text-dark);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  padding: 15px 30px;
  @include tablet {
      width: 350px;
      height: 134px;
  }
  @include desktop {
      width: 445px;
      height: 134px;
  }
}