//Global Style-----------------



// menu ------------
.menu{
  margin: 60px 0 0 0;
  @include tablet {
      display: flex;
      justify-content: center;
  }
}

.menu__item{
  display: inline;
  background: #F5F4FA;
  border-radius: 4px;
  display: inline-flex;
  
}
.menu__item:hover{
  background-color: #4D5AE5;
  
}
.link__item{
  color: #212121;
  padding:6px 22px 6px 22px;
  transition: all 0.3s ease-in;
}
.link__item:hover{
  color: #fff;
}
.box_item{
  padding: 6px 25px;
}
.product{
  padding: 40px 0 60px 0;
}
.product__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
}
.product__inem:not(:last-child){
  margin: 0 0 30px 0;
}
.product__inem{
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  @include tablet {
      max-width: 354px;
  }
  h3{
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding: 20px 24px 0 24px;
  }
  p{
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    padding: 4px 24px 20px;
  }
}