.product__cards{
  padding: 60px 0 0 0;
}
.conteiner__portfolio{
  padding: 0 15px;
  margin: 0 auto;
  max-width: 480px;
  @include tablet {
      max-width: 768px;
  }
  @include desktop {
    max-width: 1200px ;
  } 
}
.overlay-li:hover .owerlay__box .overlay__portfolio{  
  transform: translateY(0%);
} 
.owerlay__box{
  position:relative;
  overflow: hidden;
}
.overlay__portfolio{
  background-color:var(--IRIS);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms  ease-in-out;
}
.overlay__text{
  color: var(--WHITE);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 40px 32px 0 32px;
}
.menu{
  @include tablet {
      display: flex;
      justify-content: center;
  }
}
.menu__item{
  display: inline;
  background: var(--dark-white);
  border-radius: 4px;
  display: inline-flex;
  transition: all 0.3s ease-in;
}
.menu__item:not(:last-child){
  margin: 0 4px 0 0;
}
.menu__item:hover{
  background-color:var(--IRIS);
}
.link__item{
  color: #212121;
  padding:6px 22px 6px 22px;
  a{
    color: var(--WHITE);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
  }
}
.link__item:hover{
  color: var(--WHITE);
}
.menu__item:nth-child(1){
  margin: 0 4px 15px 0;
  transition: all 0s ease-in;

  @include tablet {
  margin: 0;
  }
}
.box_item{
  padding: 6px 25px;
}
.product{
  padding: 50px 0 94px 0;
}
.product__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 30px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
.product__item{
	max-width: 450px;
  cursor: pointer;
  @include tablet {
      max-width: 354px;
  }
}
.product__item:hover{
  background:var(--WHITE);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.product__item img{
  @include tablet {
      max-width: 354px;
      height: 242px;
  }
  @include desktop {
      max-width: 370px;
  }
}
.product__item:not(:last-child){
  margin: 0 0 30px 0;
  @include tablet {
    margin: 0 0 0 0;
  }
}
.product__item{
  @include tablet {
      max-width: 354px;
  }
  h3{
    color: var(--BLACK);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding: 20px 23px 0 24px;
  }
  .product__bloc{
    border: 1px solid #EEE;
  }
  @include desktop {
      max-width: 370px;
  }
}
.card__text{
  color:var(--series);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    padding: 4px 24px 20px;
}
.product__list{
  .card__text{padding: 4px 24px 20px;
  }
    @include tablet {
      .card__text{
        padding: 4px 24px 56px;
      }   
    }
    @include desktop {
      .card__text{padding: 4px 24px 20px;
      }
    }
}